replicaCount: 1

image:
  repository: dragos93/ipv   # change later if needed
  tag: "dev-0.0.1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

podAnnotations: {}

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
